* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/signup-bg.jpg);
    background-size: cover;
    height: 100vh;
    width: 60vh;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.521);
    height: 100px;
    margin-top: 30vh;
    padding: 10px 0px 10px 0px;
}

.logo-container > img {
    height: 100%;
}
.logo-container > p {
    color: white;
    font-size: 75px;
}

.credit-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    color: white;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(241, 241, 241);
}

.description {
    padding-left: 10vh;
    padding-bottom: 5vh;
}

.signup-inputs {
    padding-left: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: white;
    display: flex;
    flex-direction: column; 
    box-shadow: 0 10px 15px 0px #ccc, 0px 10px 5px 0px #fff;
}

.input-cols {
    margin-top: 3vh;
    display: flex;
    flex-direction:row;
    gap: 5vh;
}

.left-input-cols {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.right-input-cols {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.input-label {
    color: rgb(31, 30, 30);
    margin-top: 5px;
}

.input-form {
    border: lightgray thin solid;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 5px;
}

.form-action {
    padding-left: 10vh;
}