* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/signup-bg.jpg);
    background-size: cover;
    height: 100vh;
    width: 60vh;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.521);
    height: 100px;
    margin-top: 30vh;
}

.logo-container > img {
    height: 100%;
}
.logo-container > p {
    color: white;
    font-size: 75px;
}

.credit-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    color: white;
}